.cabecalho_menu-hamburguer{
    width:24 px;
    height: 24 px;
    display: inline-block;
    background-image: url("Menu.svg");
    background-repeat:no_repeat;
    background-position:center;
}
.cabecalho{
    background-color:var(--branco);
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
}
.container{
    display:flex;
    align-items:center;
}
.container_imagem{
    padding: 1em;
}
.lista-menu{
    display:none;
    position:absolute;
    top:100%;
    width:60vW;
}
.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu{
    display: none;    
}

.lista-menu__titulo {
    color: var(--laranja);
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    }

    .lista-menu {
        display: none;
        position: absolute;
        top: 100%;
        width: 60vw;
        }